.loginPage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.541);
    z-index: 1;
  }

  .loginOverlay {
    position: relative;
    z-index: 2;

    .backToHomePage:hover path {
      fill: #f1295d;
      transition: 0.5s;
    }
  }
}
